* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#guiones {
  font-size: 2rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

#pista {
  color: #007bff;
  font-style: italic;
}

#mensaje {
  margin-top: 1rem;
  font-size: 1.2rem;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
  padding: 0.5rem;
  border: none;
  border-radius: 12px;
  margin: 1rem;
}
